/* CSS by Kaitlyn Ely */

/* Color Palette
Dark blue = #021859
Bright yellow = #F2E205
Pale yellow = #F2EA79
Light gray = #D9D9D9
Slate = #262626

*/

/* Global Style (Mobile First) */
body{
    background-color:#D9D9D9;
    display:grid;
    grid-template-columns:1fr;
    margin: 0;
    font-family: tahoma, sans-serif;
}

header{
    background-color:#021859;
}

h1{
    color:#D9D9D9;
    text-decoration: underline;
    text-decoration-color:#F2E205;
    padding-left: 1em;
    font-size: 1.5em;
    text-align: center;
}

nav{
    background-color:#021859;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    justify-content:space-evenly;
}

nav ul li{
    list-style-type: none;
    padding: 1em;
    font-size:1em;
}

nav ul li a{
    color: #D9D9D9;
    text-decoration: none;
}
nav ul li a:hover{
    color: #F2EA79;
    text-decoration: underline;
    text-decoration-color: #F2E205;
}

h2{
    text-decoration: underline;
    text-decoration-color:#021859;
}

section{
    margin: 1em;
}

p{
    text-indent: 1em;
}

/* Image Carousel */
.carousel{
    width: 85vw;
    height: 400px;
    padding: 20px;
    display: flex;
    gap: 4vw;
    margin: auto;
}

.carousel li{
    list-style-type: none;
    background-color:#D9D9D9;
    padding: 20px;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}
li img{
    height:100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.carousel{
    overflow-x: scroll;
    scroll-snap-type:x mandatory;
}

.carousel li{
    scroll-snap-align: center;
}

.carousel::scroll-button(*){
    border: 0;
    font-size: 2em;
    background: none;
    color: #021859;
    opacity: 0.7;
    cursor: pointer;
}

.carousel::scroll-button(*):hover, .carousel::scroll-button(*):focus{
    opacity: 1;
}

.carousel::scroll-button(*):active{
    translate: 1px 1px;
}

.carousel::scroll-button(*):disabled{
    opacity: 0.2;
    cursor: unset;
}

.carousel::scroll-button(left){
    content: "◄" / "Previous";
}

.carousel::scroll-button(right){
    content: "►" / "Next";
}

.carousel{
    anchor-name: --my-carousel;
}

.carousel::scroll-button(*){
    position: absolute;
    position-anchor: --my-carousel;
}

.carousel::scroll-button(left){
    right: calc(anchor(left) - 70px);
    bottom: calc(anchor(top) - 25px);
}

.carousel::scroll-button(right){
    left: calc(anchor(right) - 70px);
    bottom: calc(anchor(top) - 25px);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery-item{
    padding: 5px;
    margin: 1rem;
    border: 1px solid #262626;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.gallery-item img{
    width: 100%;
}

#profile{
    display: flex;
    align-items: center;
}
#profile img{
    width: 150px;
    border-radius: 50%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#021859;
    text-align: right;
    margin: 0px;
    color:#D9D9D9;
    font-size: .9em;
}

/* Responsive Style */
@media screen and (min-width:800px){
    body{
        grid-template-columns: 1fr 3fr;
        align-items: stretch;

    }
    header{
        grid-column: 1 / 2;
    }
    nav{
        grid-column: 2 / 4;
    }
    main{
        grid-column: 1 / 4;
    }
    h1{
        text-align: left;
    }
    #about{
        display: flex;
        flex-direction: row;
    }
    #about section{
        width: 45%;
    }

    .carousel{
        height: 75vh;
    }
    section{
        margin: 2.5rem;
    }
    .gallery-item{
        width: 45%;
        margin: .5rem;
    }
    #profile img{
        width: 200px;
    }
}